{% extends './../Base/UserBaseTemplate.html' %}

{% block content %}

{% load static %}


<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="return-button">
      <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <a class="btn btn-sm btn-white" href="{{ object.get_absolute_url }}/cours/cas-cliniques/">
          <i class="fas fa-reply"></i> Retourner vers la liste des cas cliniques</a>
      </div>
    </div>
    <!-- End Page Header -->
    <!-- Default Light Table -->
    <div class="col-lg-14">
      <div class="card card-small card-post mb-4">
        <div class="card-body">
          <h4 class="card-title">{{ cours.title }}</h4>
          <p class="card-text text-muted">{{ cours.description }}</p>                  
          </object>
                
        </div>
        <div class="card-footer border-top d-flex">
          <div class="card-post__author d-flex">
            <div class="d-flex flex-column justify-content-center ml-3">
              <span class="card-post__author-name">Publié par {{cours.author}}</span>
              <small class="text-muted">Dans la catégorie : {{cours.category}}</small>
            </div>
          </div>
          <div class="my-auto ml-auto">
            
            <span class="bb-title" style="margin-right:10px">Cas clinique PDF</span> 
            <button id="visualiser" type="button" class="mb-2 btn btn-info mr-2">Visualiser</button>
            <a href="{{cours.support_pdf.url}}" download><button type="button" class="mb-2 btn btn-success mr-2">Télécharger</button></a>
            

          </div>

        </div>

        <div class="card-footer border-top d-flex">
            <div class="my-auto ml-auto">
              <span class="bb-title" style="margin-right:10px">Le corrigé en PDF</span> 
              
              <button id="visualiser-corrige" type="button" class="mb-2 btn btn-info mr-2">Visualiser</button>
              <a href="{{cours.corrige_src.url}}" download><button type="button" class="mb-2 btn btn-success mr-2">Télécharger</button></a>           
              
            </div>
        </div>

        {% if cours.hasVideo %}
        <div class="card-footer border-top d-flex">
          <div class="my-auto ml-auto">
            <span class="bb-title" style="margin-right:10px">Le support Video</span> 
            
            <button id="visualiser-video" type="button" class="mb-2 btn btn-info mr-2">Visualiser</button>
            <a href="{{cours.video_src.url}}" download><button type="button" class="mb-2 btn btn-success mr-2">Télécharger</button></a>           
            
          </div>
        </div>
        {% endif %}

      </div>
    </div>

    


    <div class="col-lg-14 cours-visualisation">
      <div class="card card-small card-post mb-4">
        <div class="card-body">
          <h4 class="card-title">Le support PDF</h4>
          <object class="cours-visualisation" data="{{cours.support_pdf.url}}" type="application/pdf" width="100%" height="700px" align="right"></object>
                
        </div>

      </div>
    </div>


    <div class="col-lg-14 corrige-visualisation">
        <div class="card card-small card-post mb-4">
          <div class="card-body">
            <h4 class="card-title">Le corrigé en PDF</h4>
            <object class="corrige-visualisation" data="{{cours.corrige_src.url}}" type="application/pdf" width="100%" height="700px" align="right"></object>
                  
          </div>
  
        </div>
      </div>

    {% if cours.hasVideo %}
    <div class="col-lg-14 video-visualisation">
        <div class="card card-small card-post mb-4">
          <div class="card-body">
            <h4 class="card-title">Le support Video</h4>
            <center> <video width="90%" controls>
                <source src="{{cours.video_src.url}}" type="video/mp4" style="align-items: center">
              </video>   
            </center>  
          </div>
  
        </div>
      </div>
    {% endif %}


    <!-- End Default Light Table -->
    <!-- Default Dark Table -->
    <!-- End Default Dark Table -->
  </div>


{% endblock %}

{% block custom-scripts %}
<script>
    $( '#visualiser' ).click(function() {
      $(".cours-visualisation").toggle();
    });

    $( '#visualiser-video' ).click(function() {
      $(".video-visualisation").toggle();
    });

    $( '#visualiser-corrige' ).click(function() {
      $(".corrige-visualisation").toggle();
    });


    $(".btn-custom").text(function(index, currentText) {
      return currentText.substr(0, 25);
  });
</script>
{% endblock custom-scripts %}