{% extends './../Base/UserBaseTemplate.html' %}

{% block content %}

<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
      <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Overview</span>
        <h3 class="page-title">Liste des cours</h3>
      </div>
    </div>
    <!-- End Page Header -->
    <!-- Default Light Table -->
    <div class="row">
      <div class="col">
        <div class="card card-small mb-4">
          <div class="card-body p-0 pb-3 ">
            <table class="table mb-0" width="100%">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="border-0 title-table">Titre</th>
                  <th scope="col" class="border-0 description-table">Description</th>
                  <th scope="col" class="border-0">Catégorie</th>
                  <th scope="col" class="border-0">Publié par</th>
                  <th scope="col" class="border-0">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="title-table">Articulations concordantes</td>
                  <td>La biométrie est l’étude des
                    possibilités fonctionnelles des
                    articulations du corps humain, en
                    mesurant leurs différentes amplitudes...</td>
                  <td>Cardiologie</td>
                  <td>Malika Addou</td>
                  <td>
                    <button type="button" class="mb-2 btn btn-success mr-2">Accéder au cours</button>
                  </td>
                </tr>
                <tr>
                  <td class="title-table">Articulations concordantes</td>
                  <td>La biométrie est l’étude des
                    possibilités fonctionnelles des
                    articulations du corps humain, en
                    mesurant leurs différentes amplitudes...</td>
                  <td>Cardiologie</td>
                  <td>Malika Addou</td>
                  <td>
                    <button type="button" class="mb-2 btn btn-success mr-2">Accéder au cours</button>
                  </td>
                </tr>
                <tr>
                  <td class="title-table">Articulations concordantes</td>
                  <td>La biométrie est l’étude des
                    possibilités fonctionnelles des
                    articulations du corps humain, en
                    mesurant leurs différentes amplitudes...</td>
                  <td>Cardiologie</td>
                  <td>Malika Addou</td>
                  <td>
                    <button type="button" class="mb-2 btn btn-success mr-2">Accéder au cours</button>
                  </td>
                </tr>
                <tr>
                  <td class="title-table">Articulations concordantes</td>
                  <td>La biométrie est l’étude des
                    possibilités fonctionnelles des
                    articulations du corps humain, en
                    mesurant leurs différentes amplitudes...</td>
                  <td>Cardiologie</td>
                  <td>Malika Addou</td>
                  <td>
                    <button type="button" class="mb-2 btn btn-success mr-2">Accéder au cours</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- End Default Light Table -->
    <!-- Default Dark Table -->
    <!-- End Default Dark Table -->
  </div>

{% endblock %}