{% extends './../Base/UserBaseTemplate.html' %}

{% block content %}
    <br/>
    <div class="col-lg-12 col-md-12 col-sm-12 mb-4">

        <div class="card card-small">

        <div class="card-header border-bottom">
        <h6 class="m-0">QCM</h6>
        </div>
        <ul class="list-group list-group-flush">
                    
        {% for qcm in qcm_objects%}   
            <li class="list-group-item p-0 px-3 pt-3">
                <div> 
                    <a href="id={{qcm.id}}">
                        <strong class="text-secondary d-block mb-2">{{qcm.title}}
                        <span class="text-muted mb-1" style="float:right">{{qcm.dateCreated}}</span>
                        </strong>
                    </a>
                    
                    <p class="m-0 my-2 mb-3">
                        {{qcm.description}}
                    </p>
                    
                </div>
            </li>
        {% endfor %}
        </ul>
        </div>
    </div>

{% endblock %}