{% extends './../Base/UserBaseTemplate.html' %}

{% block content %}

<div class="main-content-container container-fluid px-4">
  <!-- Page Header -->
  <div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
      <span class="text-uppercase page-subtitle">Overview</span>
      <h3 class="page-title">Data Tables</h3>
    </div>
  </div>
  <!-- End Page Header -->
  <!-- Default Light Table -->
  <div class="row">
    <div class="col">
      <div class="card card-small mb-4">
        <div class="card-header border-bottom">
          <h6 class="m-0">Active Users</h6>
        </div>
        <div class="card-body p-0 pb-3 text-center">
          <table class="table mb-0">
            <thead class="bg-light">
              <tr>
                <th scope="col" class="border-0">Titre</th>
                <th scope="col" class="border-0">Description</th>
                <th scope="col" class="border-0">Publié par</th>
                <th scope="col" class="border-0">Accéder au cours</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Articulations concordantes</td>
                <td>La biométrie est l’étude des
                  possibilités fonctionnelles des
                  articulations du corps humain, en
                  mesurant leurs différentes amplitudes</td>
                <td>Malika Addou</td>
                <td>Buttons</td>
              </tr>
              <tr>
                <td>Clark</td>
                <td>Angela</td>
                <td>Estonia</td>
                <td>Borghetto di Vara</td>
              </tr>
              <tr>
                <td>Jerry</td>
                <td>Nathan</td>
                <td>Cyprus</td>
                <td>Braunau am Inn</td>
              </tr>
              <tr>
                <td>Colt</td>
                <td>Angela</td>
                <td>Liberia</td>
                <td>Bad Hersfeld</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- End Default Light Table -->
  <!-- Default Dark Table -->
  <!-- End Default Dark Table -->
</div>

{% endblock %}